    <!-- Start Backgorund Dark -->
<div class="container-dark" id="container-dark"></div>
<!-- End Backgorund Dark -->
<!-- Start Float Alert Add To Cart -->
<div class="alert-addtocart">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
        <path fill="#ffffff"
              d="M480 96C515.3 96 544 124.7 544 160L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 160C96 124.7 124.7 96 160 96L480 96zM438 209.7C427.3 201.9 412.3 204.3 404.5 215L285.1 379.2L233 327.1C223.6 317.7 208.4 317.7 199.1 327.1C189.8 336.5 189.7 351.7 199.1 361L271.1 433C276.1 438 283 440.5 289.9 440C296.8 439.5 303.3 435.9 307.4 430.2L443.3 243.2C451.1 232.5 448.7 217.5 438 209.7z" />
    </svg>
    محصول به سبد خرید اضافه شد
</div>
<!-- Start Float Alert Add To Cart -->
<!-- Start Header Desktop -->
<header class="header-top">

    <!-- Start Main Header -->
    <section class="main-header">
        <div class="sec-logo">
            <a asp-action="Index" asp-controller="Home">
            <img src="~/images/logo/logo-header.png" alt="logo-header">
            </a>
        </div>
        <div class="sec-search">
            <form asp-controller="Shop" asp-action="Index" method="get">
                <div class="container-search">
                    <input type="search" name="q" class="search-ajax" id="searchajax" placeholder="جستجوی محصولات" value="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Shop" ? Context.Request.Query["q"].ToString() : "")">
                    <button class="submit-search" type="submit">
                        <svg fill="none" viewBox="0 0 28 28" height="30" width="30"
                             xmlns="http://www.w3.org/2000/svg" class="search-icon">
                            <path d="M11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20Z"
                                  stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M18.9299 20.6898C19.4599 22.2898 20.6699 22.4498 21.5999 21.0498C22.4499 19.7698 21.8899 18.7198 20.3499 18.7198C19.2099 18.7098 18.5699 19.5998 18.9299 20.6898Z"
                                  stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                    </button>
                </div>
            </form>


        </div>
        <div class="sec-buttons">



            @if (User.Identity.IsAuthenticated)
            {
                var fullName = User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value ?? User.Identity.Name;

                <h4>@fullName</h4>
            }
            else
            {
                <a class="login-sign" asp-controller="Account" asp-action="Login">
                    <svg class="acc-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                         fill="none">
                        <path d="M13.9998 13.9997C17.2215 13.9997 19.8332 11.388 19.8332 8.16634C19.8332 4.94468 17.2215 2.33301 13.9998 2.33301C10.7782 2.33301 8.1665 4.94468 8.1665 8.16634C8.1665 11.388 10.7782 13.9997 13.9998 13.9997Z"
                              stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                        <path d="M24.0218 25.6667C24.0218 21.1517 19.5302 17.5 14.0002 17.5C8.47018 17.5 3.97852 21.1517 3.97852 25.6667"
                              stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                    ورود/ثبت نام
                </a>
            }

            <a class="contact" id="btncart" asp-controller="Home" asp-action="Contact">
                <img src="~/images/index/call-calling-svgrepo-com.svg" alt="phone">
            </a>


            <div class="cart-add">
                <a href="#" id="addcart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24"
                         fill="none">
                        <path d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z"
                              stroke="#000" stroke-width="1.1"></path>
                        <path d="M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z"
                              stroke="#000" stroke-width="1.1"></path>
                        <path d="M2.26121 3.09184L2.50997 2.38429H2.50997L2.26121 3.09184ZM2.24876 2.29246C1.85799 2.15507 1.42984 2.36048 1.29246 2.75124C1.15507 3.14201 1.36048 3.57016 1.75124 3.70754L2.24876 2.29246ZM4.58584 4.32298L5.20507 3.89983V3.89983L4.58584 4.32298ZM5.88772 14.5862L5.34345 15.1022H5.34345L5.88772 14.5862ZM20.6578 9.88275L21.3923 10.0342L21.3933 10.0296L20.6578 9.88275ZM20.158 12.3075L20.8926 12.4589L20.158 12.3075ZM20.7345 6.69708L20.1401 7.15439L20.7345 6.69708ZM19.1336 15.0504L18.6598 14.469L19.1336 15.0504ZM5.70808 9.76V7.03836H4.20808V9.76H5.70808ZM2.50997 2.38429L2.24876 2.29246L1.75124 3.70754L2.01245 3.79938L2.50997 2.38429ZM10.9375 16.25H16.2404V14.75H10.9375V16.25ZM5.70808 7.03836C5.70808 6.3312 5.7091 5.7411 5.65719 5.26157C5.60346 4.76519 5.48705 4.31247 5.20507 3.89983L3.96661 4.74613C4.05687 4.87822 4.12657 5.05964 4.1659 5.42299C4.20706 5.8032 4.20808 6.29841 4.20808 7.03836H5.70808ZM2.01245 3.79938C2.68006 4.0341 3.11881 4.18965 3.44166 4.34806C3.74488 4.49684 3.87855 4.61727 3.96661 4.74613L5.20507 3.89983C4.92089 3.48397 4.54304 3.21763 4.10241 3.00143C3.68139 2.79485 3.14395 2.60719 2.50997 2.38429L2.01245 3.79938ZM4.20808 9.76C4.20808 11.2125 4.22171 12.2599 4.35876 13.0601C4.50508 13.9144 4.79722 14.5261 5.34345 15.1022L6.43198 14.0702C6.11182 13.7325 5.93913 13.4018 5.83723 12.8069C5.72607 12.1578 5.70808 11.249 5.70808 9.76H4.20808ZM10.9375 14.75C9.52069 14.75 8.53763 14.7482 7.79696 14.6432C7.08215 14.5418 6.70452 14.3576 6.43198 14.0702L5.34345 15.1022C5.93731 15.7286 6.69012 16.0013 7.58636 16.1283C8.45674 16.2518 9.56535 16.25 10.9375 16.25V14.75ZM4.95808 6.87H17.0888V5.37H4.95808V6.87ZM19.9232 9.73135L19.4235 12.1561L20.8926 12.4589L21.3923 10.0342L19.9232 9.73135ZM17.0888 6.87C17.9452 6.87 18.6989 6.871 19.2937 6.93749C19.5893 6.97053 19.8105 7.01643 19.9659 7.07105C20.1273 7.12776 20.153 7.17127 20.1401 7.15439L21.329 6.23978C21.094 5.93436 20.7636 5.76145 20.4632 5.65587C20.1567 5.54818 19.8101 5.48587 19.4604 5.44678C18.7646 5.369 17.9174 5.37 17.0888 5.37V6.87ZM21.3933 10.0296C21.5625 9.18167 21.7062 8.47024 21.7414 7.90038C21.7775 7.31418 21.7108 6.73617 21.329 6.23978L20.1401 7.15439C20.2021 7.23508 20.2706 7.38037 20.2442 7.80797C20.2168 8.25191 20.1002 8.84478 19.9223 9.73595L21.3933 10.0296ZM16.2404 16.25C17.0021 16.25 17.6413 16.2513 18.1566 16.1882C18.6923 16.1227 19.1809 15.9794 19.6074 15.6318L18.6598 14.469C18.5346 14.571 18.3571 14.6525 17.9744 14.6994C17.5712 14.7487 17.0397 14.75 16.2404 14.75V16.25ZM19.4235 12.1561C19.2621 12.9389 19.1535 13.4593 19.0238 13.8442C18.9007 14.2095 18.785 14.367 18.6598 14.469L19.6074 15.6318C20.0339 15.2842 20.2729 14.8346 20.4453 14.3232C20.6111 13.8312 20.7388 13.2049 20.8926 12.4589L19.4235 12.1561Z"
                              fill="#000" stroke-width="1.5"></path>
                        <path d="M9.5 9L10.0282 12.1179" stroke="#000" stroke-width="1" stroke-linecap="round">
                        </path>
                        <path d="M15.5283 9L15.0001 12.1179" stroke="#000" stroke-width="1" stroke-linecap="round">
                        </path>
                    </svg>
                </a>
                <span class="span">0</span>

                <div class="container-card" id="container-card">
                    <!-- <section class="card-null">
                        سبد خرید شما خالی است
                    </section> -->
                    <section class="card-full">

                        <!-- Start Card Product -->
                        <section class="card-product">
                            <a href="#" class="delete">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                    <path fill="#ffffff"
                                          d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z" />
                                </svg>
                            </a>
                            <section class="sec-1">
                                <img src="~/images/products/mo.png" alt="product">
                                <h4 class="name-product">ساعت هوشمند سری 7 اپل</h4>
                            </section>
                            <section class="sec-2">
                                <!-- Start Pay Product -->
                                <div class="count">
                                    <button class="plus">+</button>
                                    <input type="number" autocomplete="off" min="1" max="10" value="1" id="counter">
                                    <button class="minus">-</button>
                                </div>
                                <!-- End Pay Product -->
                                <span class="amount">12000000 <span>تومان</span></span>
                            </section>
                            <hr>
                        </section>
                        <!-- End Card Product -->


                        <section class="sec-3">
                            <span class="amount">12000000 <span>تومان</span></span>
                        </section>

                        <section class="sec-4">
                            <a href="#" class="btn-pay">مشاهده سبد خرید</a>
                            <a href="#" class="btn-pay">تسویه حساب</a>
                        </section>

                    </section>
                </div>

            </div>
        </div>
    </section>
    <!-- End Main Header -->
    <!-- Start Down Header -->
    <section class="down-header">

        <section class="part-1">
            <div class="mega-menu">

                <div class="button-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="19px" height="19px"
                         viewBox="0 0 200 200" data-name="Layer 1" id="Layer_1">
                        <title></title>
                        <path d="M75,20H40A20.06,20.06,0,0,0,20,40V75A20.06,20.06,0,0,0,40,95H75A20.06,20.06,0,0,0,95,75V40A20.06,20.06,0,0,0,75,20Zm0,55H40V40H75Zm95-27.5a10,10,0,0,0-10,10V75H125V40h17.5a10,10,0,0,0,0-20H125a20.06,20.06,0,0,0-20,20V75a20.06,20.06,0,0,0,20,20h35a20.06,20.06,0,0,0,20-20V57.5A10,10,0,0,0,170,47.5ZM75,105H40a20.06,20.06,0,0,0-20,20v35a20.06,20.06,0,0,0,20,20H75a20.06,20.06,0,0,0,20-20V125A20.06,20.06,0,0,0,75,105Zm0,55H40V125H75Zm85-55H125a20.06,20.06,0,0,0-20,20v35a20.06,20.06,0,0,0,20,20h35a20.06,20.06,0,0,0,20-20V125A20.06,20.06,0,0,0,160,105Zm0,55H125V125h35Z">
                        </path>
                    </svg>
                    <span>دسته بندی محصول</span>
                </div>

                <div class="container-sub-menu">

                    <section class="sub-menu">
                        <ul class="sub-mega-menu">
                            <li>
                                <a href="#">گوشی موبایل</a>

                                <ul class="sub-sub-menu">
                                    <li class="title-list">
                                        <a class="a" href="#">گوشی سامسونگ</a>

                                        <ul class="sub-title-list">
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                        </ul>

                                    </li>

                                    <li class="title-list">
                                        <a class="a" href="#">گوشی سامسونگ</a>

                                        <ul class="sub-title-list">
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                        </ul>

                                    </li>
                                </ul>
                            </li>


                            <li>
                                <a href="#">گوشی موبایل</a>

                                <ul class="sub-sub-menu">
                                    <li class="title-list">
                                        <a class="a" href="#">گوشی سامسونگ</a>

                                        <ul class="sub-title-list">
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                        </ul>

                                    </li>

                                    <li class="title-list">
                                        <a class="a" href="#">گوشی سامسونگ</a>

                                        <ul class="sub-title-list">
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                            <li><a href="#">سامسونگ a54</a></li>
                                        </ul>

                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </section>
                </div>
            </div>

            <div class="menu-header">
                <ul class="menu">
                    <li class="mneu-item-1">
                        <a asp-controller="Home" asp-action="Index">صفحه اصلی</a>
                    </li>
                    <li class="mneu-item-2">
                        <a asp-controller="Shop" asp-action="Index">فروشگاه</a>
                    </li>
                    <li class="mneu-item-4">
                        <a asp-controller="Home" asp-action="Contact">تماس با ما</a>
                    </li>
                    <li class="mneu-item-5">
                        <a asp-controller="Home" asp-action="About">درباره ما</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="part-2">
            <div class="spacial-btn">

                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                        <path d="M385.5 132.8C393.1 119.9 406.9 112 421.8 112L424 112C446.1 112 464 129.9 464 152C464 174.1 446.1 192 424 192L350.7 192L385.5 132.8zM254.5 132.8L289.3 192L216 192C193.9 192 176 174.1 176 152C176 129.9 193.9 112 216 112L218.2 112C233.1 112 247 119.9 254.5 132.8zM344.1 108.5L320 149.5L295.9 108.5C279.7 80.9 250.1 64 218.2 64L216 64C167.4 64 128 103.4 128 152C128 166.4 131.5 180 137.6 192L96 192C78.3 192 64 206.3 64 224L64 256C64 273.7 78.3 288 96 288L544 288C561.7 288 576 273.7 576 256L576 224C576 206.3 561.7 192 544 192L502.4 192C508.5 180 512 166.4 512 152C512 103.4 472.6 64 424 64L421.8 64C389.9 64 360.3 80.9 344.1 108.4zM544 336L344 336L344 544L480 544C515.3 544 544 515.3 544 480L544 336zM296 336L96 336L96 480C96 515.3 124.7 544 160 544L296 544L296 336z" />
                    </svg>
                    فروش ویژه
                </a>
            </div>
        </section>

    </section>
    <!-- End Down Header -->


</header>
<!-- End Header Desktop -->
<!-- Start Header Mobile -->
<header class="header-mobile">
    <section class="part-1">
        <div class="humberger-menu" id="btnmenu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                <path d="M96 160C96 142.3 110.3 128 128 128L512 128C529.7 128 544 142.3 544 160C544 177.7 529.7 192 512 192L128 192C110.3 192 96 177.7 96 160zM96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320zM544 480C544 497.7 529.7 512 512 512L128 512C110.3 512 96 497.7 96 480C96 462.3 110.3 448 128 448L512 448C529.7 448 544 462.3 544 480z" />
            </svg>
        </div>
        <div class="logo">
            <a href="#">
                <img src="~/images/logo/logo-header.png" alt="logo">
            </a>
        </div>
        <div class="account-info">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                <path d="M320 312C386.3 312 440 258.3 440 192C440 125.7 386.3 72 320 72C253.7 72 200 125.7 200 192C200 258.3 253.7 312 320 312zM290.3 368C191.8 368 112 447.8 112 546.3C112 562.7 125.3 576 141.7 576L498.3 576C514.7 576 528 562.7 528 546.3C528 447.8 448.2 368 349.7 368L290.3 368z" />
            </svg>
        </div>
    </section>

    <nav class="navigation" id="navbar">
        <ul class="ul">

            <li class="li">
                <div>
                    <a href="#" class="a">
                        گوشی موبایل
                    </a>
                    <button class="btnsubment">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M297.4 566.6C309.9 579.1 330.2 579.1 342.7 566.6L502.7 406.6C515.2 394.1 515.2 373.8 502.7 361.3C490.2 348.8 469.9 348.8 457.4 361.3L352 466.7L352 96C352 78.3 337.7 64 320 64C302.3 64 288 78.3 288 96L288 466.7L182.6 361.3C170.1 348.8 149.8 348.8 137.3 361.3C124.8 373.8 124.8 394.1 137.3 406.6L297.3 566.6z" />
                        </svg>
                    </button>
                </div>

                <ul class="submenu">
                    <li><a href="#">گوشی سامسونگ</a></li>
                    <li><a href="#">گوشی الجی</a></li>
                    <li><a href="#">گوشی اچ تی سی</a></li>
                </ul>
            </li>

            <li class="li">
                <div>
                    <a href="#" class="a">
                        سامسونگ
                    </a>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M297.4 566.6C309.9 579.1 330.2 579.1 342.7 566.6L502.7 406.6C515.2 394.1 515.2 373.8 502.7 361.3C490.2 348.8 469.9 348.8 457.4 361.3L352 466.7L352 96C352 78.3 337.7 64 320 64C302.3 64 288 78.3 288 96L288 466.7L182.6 361.3C170.1 348.8 149.8 348.8 137.3 361.3C124.8 373.8 124.8 394.1 137.3 406.6L297.3 566.6z" />
                        </svg>
                    </button>
                </div>

            </li>
        </ul>
    </nav>
</header>
<!-- End Header Mobile -->
<!-- Start Search Mobile -->
<section class="container-serach">
    <header class="header-search">
        <h2>جستجوی محصول</h2>
        <a href="#" id="closecontainersearch">بازگشت</a>
    </header>
    <hr>
    <section class="sec-body">

        <div class="container-part-search">
            <form asp-controller="Shop" asp-action="Index" method="get" class="sec-search">
                <input type="search" name="q" placeholder="جستجوی محصول" class="search-ajax" value="@Context.Request.Query["q"]">
                <button type="submit" style="background:none;border:none;padding:0;cursor:pointer;" aria-label="جستجو">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                    <path d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z" />
                </svg>
                </button>
            </form>
        </div>


        <section class="list-product">
            <section class="header">
                <h4>نتایج جستجو</h4>
            </section>
            <p style="padding:1rem;">برای مشاهده نتایج، عبارت جستجو را وارد کرده و جستجو را بزنید.</p>
        </section>






    </section>
</section>
<!-- End Search Mobile -->
<!-- Start navbar tools -->
<section class="nav-tools">
    <ul>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="22px" height="22px">
                    <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274C22 8.77128 22 9.91549 22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039Z"
                              stroke="#1C274C" stroke-width="1.5"></path>
                        <path d="M9 16C9.85038 16.6303 10.8846 17 12 17C13.1154 17 14.1496 16.6303 15 16"
                              stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path>
                    </svg>
                </svg>
                خانه
            </a>
        </li>

        <li>
            <a href="#" id="btnsearch">
                <svg fill="none" viewBox="0 0 28 28" height="30" width="30" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20Z"
                          stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M18.9299 20.6898C19.4599 22.2898 20.6699 22.4498 21.5999 21.0498C22.4499 19.7698 21.8899 18.7198 20.3499 18.7198C19.2099 18.7098 18.5699 19.5998 18.9299 20.6898Z"
                          stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                جستجو
            </a>
        </li>

        <li>
            <a href="#">
                <svg width="27px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.5 11V14C3.5 17.7712 3.5 19.6569 4.67157 20.8284C5.84315 22 7.72876 22 11.5 22H12.5C16.2712 22 18.1569 22 19.3284 20.8284C20.5 19.6569 20.5 17.7712 20.5 14V11"
                          stroke="#1C274C" stroke-width="1.5"></path>
                    <path d="M9.4998 2H14.4998L15.1515 8.51737C15.338 10.382 13.8737 12 11.9998 12C10.1259 12 8.6616 10.382 8.84806 8.51737L9.4998 2Z"
                          stroke="#1C274C" stroke-width="1.5"></path>
                    <path d="M3.32975 5.35133C3.50783 4.46093 3.59687 4.01573 3.77791 3.65484C4.15938 2.89439 4.84579 2.33168 5.66628 2.10675C6.05567 2 6.50969 2 7.41771 2H9.50002L8.77549 9.24527C8.61911 10.8091 7.30318 12 5.73155 12C3.8011 12 2.35324 10.2339 2.73183 8.34093L3.32975 5.35133Z"
                          stroke="#1C274C" stroke-width="1.5"></path>
                    <path d="M20.6703 5.35133C20.4922 4.46093 20.4031 4.01573 20.2221 3.65484C19.8406 2.89439 19.1542 2.33168 18.3337 2.10675C17.9443 2 17.4903 2 16.5823 2H14.5L15.2245 9.24527C15.3809 10.8091 16.6968 12 18.2685 12C20.1989 12 21.6468 10.2339 21.2682 8.34093L20.6703 5.35133Z"
                          stroke="#1C274C" stroke-width="1.5"></path>
                    <path d="M9.5 21.5V18.5C9.5 17.5654 9.5 17.0981 9.70096 16.75C9.83261 16.522 10.022 16.3326 10.25 16.201C10.5981 16 11.0654 16 12 16C12.9346 16 13.4019 16 13.75 16.201C13.978 16.3326 14.1674 16.522 14.299 16.75C14.5 17.0981 14.5 17.5654 14.5 18.5V21.5"
                          stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path>
                </svg>
                فروشگاه
            </a>
        </li>

        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none">
                    <path d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z"
                          stroke="#000" stroke-width="1.1"></path>
                    <path d="M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z"
                          stroke="#000" stroke-width="1.1"></path>
                    <path d="M2.26121 3.09184L2.50997 2.38429H2.50997L2.26121 3.09184ZM2.24876 2.29246C1.85799 2.15507 1.42984 2.36048 1.29246 2.75124C1.15507 3.14201 1.36048 3.57016 1.75124 3.70754L2.24876 2.29246ZM4.58584 4.32298L5.20507 3.89983V3.89983L4.58584 4.32298ZM5.88772 14.5862L5.34345 15.1022H5.34345L5.88772 14.5862ZM20.6578 9.88275L21.3923 10.0342L21.3933 10.0296L20.6578 9.88275ZM20.158 12.3075L20.8926 12.4589L20.158 12.3075ZM20.7345 6.69708L20.1401 7.15439L20.7345 6.69708ZM19.1336 15.0504L18.6598 14.469L19.1336 15.0504ZM5.70808 9.76V7.03836H4.20808V9.76H5.70808ZM2.50997 2.38429L2.24876 2.29246L1.75124 3.70754L2.01245 3.79938L2.50997 2.38429ZM10.9375 16.25H16.2404V14.75H10.9375V16.25ZM5.70808 7.03836C5.70808 6.3312 5.7091 5.7411 5.65719 5.26157C5.60346 4.76519 5.48705 4.31247 5.20507 3.89983L3.96661 4.74613C4.05687 4.87822 4.12657 5.05964 4.1659 5.42299C4.20706 5.8032 4.20808 6.29841 4.20808 7.03836H5.70808ZM2.01245 3.79938C2.68006 4.0341 3.11881 4.18965 3.44166 4.34806C3.74488 4.49684 3.87855 4.61727 3.96661 4.74613L5.20507 3.89983C4.92089 3.48397 4.54304 3.21763 4.10241 3.00143C3.68139 2.79485 3.14395 2.60719 2.50997 2.38429L2.01245 3.79938ZM4.20808 9.76C4.20808 11.2125 4.22171 12.2599 4.35876 13.0601C4.50508 13.9144 4.79722 14.5261 5.34345 15.1022L6.43198 14.0702C6.11182 13.7325 5.93913 13.4018 5.83723 12.8069C5.72607 12.1578 5.70808 11.249 5.70808 9.76H4.20808ZM10.9375 14.75C9.52069 14.75 8.53763 14.7482 7.79696 14.6432C7.08215 14.5418 6.70452 14.3576 6.43198 14.0702L5.34345 15.1022C5.93731 15.7286 6.69012 16.0013 7.58636 16.1283C8.45674 16.2518 9.56535 16.25 10.9375 16.25V14.75ZM4.95808 6.87H17.0888V5.37H4.95808V6.87ZM19.9232 9.73135L19.4235 12.1561L20.8926 12.4589L21.3923 10.0342L19.9232 9.73135ZM17.0888 6.87C17.9452 6.87 18.6989 6.871 19.2937 6.93749C19.5893 6.97053 19.8105 7.01643 19.9659 7.07105C20.1273 7.12776 20.153 7.17127 20.1401 7.15439L21.329 6.23978C21.094 5.93436 20.7636 5.76145 20.4632 5.65587C20.1567 5.54818 19.8101 5.48587 19.4604 5.44678C18.7646 5.369 17.9174 5.37 17.0888 5.37V6.87ZM21.3933 10.0296C21.5625 9.18167 21.7062 8.47024 21.7414 7.90038C21.7775 7.31418 21.7108 6.73617 21.329 6.23978L20.1401 7.15439C20.2021 7.23508 20.2706 7.38037 20.2442 7.80797C20.2168 8.25191 20.1002 8.84478 19.9223 9.73595L21.3933 10.0296ZM16.2404 16.25C17.0021 16.25 17.6413 16.2513 18.1566 16.1882C18.6923 16.1227 19.1809 15.9794 19.6074 15.6318L18.6598 14.469C18.5346 14.571 18.3571 14.6525 17.9744 14.6994C17.5712 14.7487 17.0397 14.75 16.2404 14.75V16.25ZM19.4235 12.1561C19.2621 12.9389 19.1535 13.4593 19.0238 13.8442C18.9007 14.2095 18.785 14.367 18.6598 14.469L19.6074 15.6318C20.0339 15.2842 20.2729 14.8346 20.4453 14.3232C20.6111 13.8312 20.7388 13.2049 20.8926 12.4589L19.4235 12.1561Z"
                          fill="#000     "></path>
                </svg>
                سبدخرید
            </a>
        </li>

    </ul>
</section>
<!-- End navbar tools -->